<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <p>Product by <a href="https://github.com/joffrey7486/To_do_list_THP">Joffrey</a> and <a href="https://github.com/fleopaulD">Florent</a></p>
    <small>Copyright © A Copyleft Company</small>
  </div>
</footer>
